<section>
  <iframe 
    src="https://player.vimeo.com/video/989018912?background=1&autoplay=1&loop=1&muted=1&byline=0&title=0" 
    frameborder="0" 
    allow="autoplay; fullscreen; picture-in-picture" 
    allowfullscreen>
  </iframe>
</section>

{% schema %}
{
  "name": "Full screen video",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Full screen video",
      "category": "Custom"
    }
  ]
}
{% endschema %}