<section>
  [ FULL WIDTH VIDEO PLACEHOLDER ]
</section>

{% schema %}
{
  "name": "Full screen video",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Full screen video",
      "category": "Custom"
    }
  ]
}
{% endschema %}