<section>
  [ FULL WIDTH VIDEO PLACEHOLDER ]
</section>

{% schema %}
{
  "name": "Full width video",
  "tag": "section",
  "class": "section section-featured-product",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
}
{% endschema %}