{{ 'triton-marquee.css' | asset_url | stylesheet_tag }}

<div class="triton-marquee">
  <h2>
    <div class="container">
      <svg viewBox="0 0 3000 300" xmlns="http://www.w3.org/2000/svg">
        <text>
          <textPath startOffset="0%">
            {% for i in (1..25) %}
              {{ section.settings.title }}{% if forloop.last == false %} {% endif %}
            {% endfor %}
            <animate attributeName="startOffset" from="0%" to="500%" begin="0s" dur="250s" repeatCount="indefinite"></animate>
          </textPath>
        </text>
      </svg>
      {% comment %} <div class="img-wrapper">
        <img src="{{ 'triton-butterfly.png' | asset_url }}" alt="butterfly" width="1080" height="auto" />
      </div> {% endcomment %}
    </div>
  </h2>
  <div 
    class="content" 
    data-aos="slide-left" 
    data-aos-duration="1000"
    data-aos-easing="ease-out-sine"
  >
    <p><strong>Selfishly changing the world</strong> through waves, sounds, words, pictures, Fabrics, & Giving.</p>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const imgWrapper = document.querySelector('.img-wrapper');
    const limit = 50;

    function getRandomDirection() {
      const directions = ['up', 'down', 'left', 'right'];
      return directions[Math.floor(Math.random() * directions.length)];
    }

    function moveImage() {
      const direction = getRandomDirection();
      let transformValue;

      switch (direction) {
        case 'up':
          transformValue = `translateY(-${Math.random() * limit}px)`;
          break;
        case 'down':
          transformValue = `translateY(${Math.random() * limit}px)`;
          break;
        case 'left':
          transformValue = `translateX(-${Math.random() * limit}px)`;
          break;
        case 'right':
          transformValue = `translateX(${Math.random() * limit}px)`;
          break;
      }

      imgWrapper.style.transform = transformValue;
    }

    setInterval(moveImage, 500);
  });
</script>

{% schema %}
{
  "name": "Triton marquee",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "GOING INSANE GOING SANE 🦋 GOING INSANE GOING SANE 🌪️ ",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Triton marquee"
    }
  ]
}
{% endschema %}