.header-wrapper {
  .header {
    @media screen and (min-width: 990px) {
      .header__inline-menu {
        grid-area: left-icons;
        justify-self: flex-start;
        text-transform: uppercase;
      }

      .header__search {
        grid-area: icons;
        justify-self: flex-end;
      }
    }
  }
}