.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;

  * {
    font-family: var(--metallophile);
    font-size: 22px;
    line-height: 25.32px;
    letter-spacing: 3%;
  }

  input {
    height: 56px;
    padding: 10px 8px;
  }

  textarea {
    height: 231px;
    padding: 10px 8px;
  }

  /* .field__label {
    color: rgba(37, 35, 37, 0.50);
    top: 50%;
    transform: translateY(-50%);
    left: 8px!important;
  }

  .field__input:focus~.field__label {
    transform: translateY(-25%);
    top: unset;
  } */
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
